# Build and Release Folders
bin/
bin-debug/
bin-release/
html/static/StrobeMediaPlayback.swf
html/js/node_modules/

# Other files and folders
.settings/
.DS_Store

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
